
body {
  background-color: #000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #FFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

select {
  border: none;
  background: rgba(0,0,0,.6);
  color: rgba(255,255,255,.8);
  padding: 2px;
  border-radius: 3px;
}

video {
  display: none;
}

a {
  cursor: pointer;
  color: rgba(0,0,0,.5);
}

a:hover {
  color: rgba(255,255,255,.65);
}

a:active {
  color: rgba(255,255,255,.8);
  text-shadow: 2px 2px 3px rgba(200,200,200,.9);
}

#video-container {
  background-color: #000;
}

.left {
  width: 50%;
  float: left;
  position: relative;
  top: 43%;
  left: 2%;
  z-index: 1;
}

.right {
  width: 50%;
  float: right;
  position: relative;
  top: 43%;
  right: 2%;
  z-index: 1;
}

#glcanvas {
  position:absolute;
  top:0; bottom:0; right:0; left:0;
}

#video-controls {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  padding: 0 10px;
  opacity: .9;
  height: 30px;
  background-color: rgb(44, 44, 44);

  background: -webkit-linear-gradient(left top, rgb(50, 51, 54), rgb(44, 44, 44));
  background: -o-linear-gradient(bottom right, rgb(50, 51, 54), rgb(44, 44, 44));
  background: -moz-linear-gradient(bottom right, rgb(50, 51, 54), rgb(44, 44, 44));
  background: linear-gradient(to bottom right, rgb(50, 51, 54), rgb(44, 44, 44));
}

#seek-bar {
	width: 35%;
  float: left;
  margin-top: 3px;
}

select {
  width: 12%;
  max-width: 300px;
  margin-right: 5px;
}

.icon {
  margin: 7px 5px 0px 5px;
  width:20px;
  float: left;
}

.rfloat {
  float: right;
  margin-top:5px;
}

.title, .message, .large-play {
  text-align: center;
  margin: 0 auto;
  display: block;
  color: rgba(255,255,255,.5);
}
